<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ starship.name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="starship-info">
          <div class="starship-info-labels">
            <label>MGLT</label>
            <label>Cargo capacity</label>
            <label>Consumables</label>
            <label>Passengers</label>
            <label>Length</label>
            <label>Model</label>
            <label>Crew</label>
          </div>
          <div class="starship-info-content">          
            <span>{{ starship.MGLT }}</span>
            <span>{{ starship.cargo_capacity }}</span>
            <span>{{ starship.consumables }}</span>
            <span>{{ starship.passengers }}</span>
            <span>{{ starship.length }}</span>
            <span>{{ starship.model }}</span>
            <span>{{ starship.crew }}</span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>