<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row my-cards">
    <div class="col-2"></div>
    <div class="col-4">
      <a (click)="showPeopleTableOnClick();">
        <div class="card text-center">
          <div class="card-img-top">
            <i class="fas fa-user-astronaut"></i>
          </div>
          <div class="card-body">
            Personagens
          </div>
        </div>
      </a>
    </div>
    <div class="col-4">
      <a (click)="showStarshipTableOnClick();">
        <div class="card text-center">
          <div class="card-img-top">
            <i class="fas fa-rocket"></i>
          </div>
          <div class="card-body">
            Naves
          </div>
        </div>
      </a>
    </div>
    <div class="col-2"></div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-people *ngIf="showPeopleTable"></app-people>
      <app-starship *ngIf="showStarshipTable"></app-starship>
    </div>
  </div>
</div>