.my-cards{
    margin-top: 50px;
    margin-bottom: 10px;
}

a:hover{
    text-decoration: none;
    cursor: pointer;
}

i{    
    margin-top: 10px;
    font-size: 52px;
    vertical-align: middle;
}

.card:hover{
    color: yellow;
    background-color: #212529;
}