<app-navbar></app-navbar>
<div class="personagens">
  <legend>Personagens</legend>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Gênero</th>
        <th scope="col">Altura (cm)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of personagens; let i = index">
        <td>{{i + 1}}</td>
        <td>{{p.name}}</td>
        <td>{{p.gender}}</td>
        <td>{{p.height}}</td>
      </tr>
    </tbody>
  </table>
</div>